body{
  background-image: url('/samator/src/gas.jpg');
  background-repeat: no-repeat;
  width: auto; height:auto;
  text-align: center;
  background-size: 100%;
  color: red;
  font-size: 30px;
  font-weight: bold;
  margin-top: 130px;
  font-variant-numeric: normal;
}

div{
  background-color: rgba(255, 255, 255, 0.397);
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 50px;

}

h1{
  color: red;
  font-size: 50px;
  font-weight: bold;
}

h2{
  color: red;
  font-weight: bold;
}

button{
border-radius: 50px;
}
